/* 

color:

background-color: rgba(49, 104, 121, 0.5);
background-color: rgba(244, 122, 96, 0.5);
#7fe7dc
#ced7d8

*/



body {
    background-image: url('../img/paper-background.jpg');
    background-size: cover;
    box-sizing: border-box;
}

.main-div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 56px;
}

table {
    border-collapse: collapse;
}

tr {
    width: 399px;
}

td {
    position: relative;
    cursor: pointer;
    width: 133px;
    height: 133px;
    border: 5px solid black;
}

td:hover {
    background-color: rgba(73, 209, 250, 0.3);
}

tr:first-child td {
    border-top: 0;
}

tr:last-child td {
    border-bottom: 0;
}

tr td:first-child {
    border-left: 0;
}

tr td:last-child {
    border-right: 0;
}

.shape-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-shape-div {
    position: absolute;
}

.player-shape-img {
    width: 80px;
    height: 80px;
}

.dp-none {
    display: none;
}

.player-label {
    display: flex;
    align-items: center;
    margin: 50px;
}

.player-label-img-div p {
    margin-left: 20px;
    font-size: 1.5em;
}

.player-label img {
    width: 50px;
    height: auto;
}

.player-label-img-div {
    display: flex;
    align-items: center;
    width: 180px;
    margin: 10px;
    padding: 0px 10px 0px 10px;
    border: 2px solid grey;
    border-radius: 15px;
    background-color: white;
    transition: all 225ms ease-in-out;
}

.active-player-one {
    background-color: rgba(49, 104, 121, 0.5);
    transition: all 225ms ease-in-out;
}

.active-player-two {
    background-color: rgba(244, 122, 96, 0.5);
    transition: all 225ms ease-in-out;
}

.win-background {
    background-color: rgba(127, 231, 220, 0.5);
    animation: winAnimate 500ms ease-in-out;
}

.tie-background {
    background-color: rgba(54, 107, 175, 0.5);
    animation: winAnimate 500ms ease-in-out;
}

@keyframes winAnimate {
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}

.winner-font {
    animation: winAnimate 500ms ease-in-out;
}

.button-div {
    margin-top: 50px;
}

.button {
    width: 200px;
    font-size: 1.5em;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    background-color: white;
    border: 3px solid black;
    cursor: pointer;
    transition: unset;
}

.button:hover {
    background-color: rgba(73, 209, 250, 0.5);
}

.logo {
    width: 300px;
}

.player-input-field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.player-input-field p {
    margin-right: 20px;
    font-size: 26px;
}

.player-input-field input {
    width: 200px;
    height: 35px;
    font-size: 20px;
}

.counter-div {
    background-color: white;
    display: flex;
    margin: 20px;
    border: 3px solid black;
    border-radius: 15px;
}

.counter-div p {
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
}
